name: update
run-name: "Automated update of ${{ github.ref_name }} by @${{ github.actor }}"

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  update-versions:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
        fetch-depth: 0
        token: ${{ secrets.PULL_PUSH }}
    - run: sudo apt update -y && sudo apt install -y jq git curl
    - run: bash ./srcpkgs/nwg-bar/update.sh
    - run: bash ./srcpkgs/nwg-clipman/update.sh
    - run: bash ./srcpkgs/nwg-displays/update.sh
    - run: bash ./srcpkgs/nwg-dock/update.sh
    - run: bash ./srcpkgs/nwg-dock-hyprland/update.sh
    - run: bash ./srcpkgs/nwg-drawer/update.sh
    - run: bash ./srcpkgs/nwg-hello/update.sh
    - run: bash ./srcpkgs/nwg-icon-picker/update.sh
    - run: bash ./srcpkgs/nwg-launchers/update.sh
    - run: bash ./srcpkgs/nwg-look/update.sh
    - run: bash ./srcpkgs/nwg-menu/update.sh
    - run: bash ./srcpkgs/nwg-panel/update.sh
    - run: bash ./srcpkgs/nwg-readme-browser/update.sh
    - run: bash ./srcpkgs/nwg-shell/update.sh
    - run: bash ./srcpkgs/nwg-shell-config/update.sh
    - run: bash ./srcpkgs/nwg-shell-wallpapers/update.sh
    - run: bash ./srcpkgs/nebula-gtk/update.sh
    - run: bash ./srcpkgs/runkit/update.sh
    - run: bash ./srcpkgs/python3-dasbus/update.sh
    - run: bash ./srcpkgs/python3-geopy/update.sh
    - run: bash ./srcpkgs/python3-imageio-ffmpeg/update.sh
    - run: bash ./srcpkgs/waypaper/update.sh
    # - run: bash ./srcpkgs/python3-geographiclib/update.sh
    # - run: bash ./srcpkgs/python3-screeninfo/update.sh
    - name: Check for updates
      id: check-updates
      run: |
        if [[ -n "$(git diff --exit-code)" ]]; then
          echo "has_updates=true" >> "$GITHUB_OUTPUT"
        else
          echo "No new updates"
          echo "has_updates=false" >> "$GITHUB_OUTPUT"
        fi
    - name: Commit updates
      if: ${{ steps.check-updates.outputs.has_updates == 'true' }}
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git commit --all --message "Automated update"
    - name: Push updates
      if: ${{ steps.check-updates.outputs.has_updates == 'true' }}
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.PULL_PUSH }}
        branch: ${{ github.ref }}
